<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragment_login.html :: headerfiles(title='Login')"></head>

<body th:replace="fragments/fragment_login.html :: body(
    action='validate-otp',
    message='Verify your account',
    name='',
    nametype='hidden',
    email='',
    emailtype='hidden',
    password='',
    passwordtype='hidden',
    cpassword='',
    cpasswordtype='hidden',
    otp='One Time Password',
    otptype='number',
    linkvisible='d-none',
    question='',
    link='')">
</body>
</html>